<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org"
      xmlns:xsi="http://www.w3.org"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="temp/internal-nlog.txt">

  <!-- 啟用 ASP.NET Core 特有的 Layout Renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <targets>
    <!-- 所有的 Log 存檔 -->
    <target xsi:type="File" name="allfile" fileName="logs/nlog-all-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />

    <!-- 僅記錄 API 請求相關的 Log -->
    <target xsi:type="File" name="ownFile-web" fileName="logs/nlog-own-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="allfile" />
    <!-- 跳過微軟自身的系統 Log，只記錄自訂 Log -->
    <logger name="Microsoft.*" maxlevel="Info" final="true" /> 
    <logger name="*" minlevel="Info" writeTo="ownFile-web" />
  </rules>
</nlog>